{% extends 'base.html' %}
{% load static %}
{% block title %}Comments Section{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'comments_styles.css' %}">
    <h2>Lets have some talk.</h2>
    <div>
        {% for comment in comments_list %}
            <div class="comment">
                <p>{{ comment.text }}</p>
                <span class="timestamp">{{ comment.timestamp }}</span>
            </div>
        {% endfor %}
    </div>
        <form method="post" action="{% url 'comments' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit Comment</button>
        </form>
    </div>
{% endblock %}