{% extends 'base.html' %}
{% load static %}
{% block title %}Gallery{% endblock %}

{% block content %}
    <style>
        .gallery-image {
            transition: transform 0.3s ease-in-out;
        }

        .gallery-image:hover {
            transform: scale(1.1); /* Increase the scale value to enlarge more */
        }
    </style>
    <div class="container mt-4">
        <h1 class="mt-4 mb-4">Gallery</h1>
        {% for image in images %}
            <div class="gallery-item">
                <img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-fluid img-thumbnail gallery-image">
                <h3>{{ image.title }}</h3>
                <p>{{ image.description }}</p>
                <p>{{ image.created_at }}</p>

                <div class="comments">
                    <h3>Comments</h3>
                    {% for comment in image.comment_set.all %}
                        <div class="comment">
                            <strong>{{ comment.author }}</strong>
                            <p>{{ comment.text }}</p>
                        </div>
                    {% endfor %}
                </div>

                <form method="post" action="{% url 'add_image_comment' image.id %}">
                     {% csrf_token %}
                    <div class="form-group">
                        <label for="id_author">Your Name:</label>
                        <input type="text" name="author" required id="id_author" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="id_text">Your Comment:</label>
                        <textarea name="text" required id="id_text" class="form-control"></textarea>
                     </div>
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}